.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.searchBarContainer {
  max-width: 265px;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.infoCardContainer--three-card-banner {
  background-color: rgb(167, 90, 97);
  height: 60px;
  margin: 1px;
}

.imageElement--hero {
  margin-top: 1rem;
}

.infoCardImageContainer--three-card-banner {
  width: 30%;
  height: 30px;
  vertical-align: center;
  justify-items: center;
}

.infoCardTextContainer--three-card-banner {
  width: 70%;
  height: 30px;
}

.infoCardImage--three-card-banner {
  height: 30px;
}

.infoCardTextContainer {
  height: 43px;
}

.infoCardHeadline--three-card-banner {
  margin: 0;
  padding: 0;
  width: 70%;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.infoCardSubhead--three-card-banner {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}
